@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Challange Odontoprev C#</h1>
    <p>Integrantes do grupo: rm 553870 Thaís Ribeiro Asfur, rm 553771 Lucas Emanuel da Silva Basto, rm 552707 Leonardo Chaves da Silva</p>
</div>
